body
	background-color: rgba(100,100,100,.1)

header
	background-color #ffcc80
	width 100%
	height 500px
	
.container
	background-color #ffcc80
		
.features
	text-align center

.mdi-image-flash-on
	font-size 5em